
<div class="container"> 
  <div class="row">
  <% @comedians.each do |comedian| %>
     
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=200%C3%97200&w=200&h=200">
              <span class="card-title"><%= comedian.name %></span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    
    <% end %>
  </div>
</div>