.btn {
 background-color: $primary-color-dark;
}

a {
  color: $primary-color-dark;
}

.notice {
  color: white;
  background-color: #ef5350;
  cursor: pointer;
}

.heading {
  color:  $primary-color-dark;
  font-family: 'Rokkitt', serif;
  font-weight: bold;
}

