
body {
  background-color: $primary-color-light;
}

.photo {
  width: 250px;
}

.card {
  background-color: $primary-color;
  display: inline-block;

}


.emoticon {
  width: 30px;
  float: right;
}

.gray { 
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

nav {
  background-color: $primary-color-dark;
}

.comedian {
  color: white;
}

#search {
  display: inline-block;
}

#mobile-search {
  color: black;
}

nav .brand-logo {
  padding-left: 3%;
 }

#modal1 {
  width: 50%;
}

.modal-close {
  float: right;
  margin-bottom: 1%;
}
