
$primary-color: #12908E !default;
$primary-color-light: #97CECC !default;
$primary-color-dark: #16594A !default;
$link-color: #F98F45 !default;
$secondary-color: #C4421A !default;
$light-secondary-color: #F98F45;


@import "materialize";
@import "index";

